* {
    box-sizing: border-box;
}
body {
    min-height: 100vh; /* gesamter viewport */
    margin: 0;
    padding: 0;
    background-color: #909fb820;
    font-family: Arial, sans-serif;
}
/* Tabs */
.tab { 
    overflow: hidden; 
    background-color: #111;
    display: flex;
    justify-content: space-between;
}
.tab button {
    background-color: inherit; 
    border: none; 
    outline: none;
    cursor: pointer; 
    padding: 12px 14px; 
    color: white;
}
.tab #specialsEinkauf button{
    padding: 1px 5px;
    font-size: 70%;
}
.tab #specialsEinkauf button:last-child{
    margin-right: 1em;
}

#einkauf  {
    margin: 0;
    padding: 0;
}
#einkauf main {
    padding: 20px;
    padding-top: 10px;
}
#einkauf form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#einkauf form input {width:100%;}

.tab button:hover { background-color: #555; }
.tab button.active { background-color: #312; }
.tabcontent { display: none; padding: 20px; }


#error {
    border: 5px outset red;
    background-color: lightcoral;
    font-weight: bold;
    margin: 2em;
    padding: 2em;
}
#info {
    border: 5px outset rgb(56, 54, 120);
    background-color: rgb(128, 240, 227);
    font-weight: bold;
    margin: 2em;
    padding: 2em;
}

h1 {
    font-size: 100%;
}
input {
    padding: 0.2rem 0.8rem;
}
#bAdd, #setup button  {
    padding: .2rem .8rem;
    background: #d7e8f7 linear-gradient(#9cddf5, #1414a0);
    border: thin solid blue;
    /*border-radius:  .4rem .4rem;*/ 
    /*box-shadow: 0 .2rem .4rem gray;
    */
    color: rgb(220, 220, 221);
    margin: 0rem 0rem 0rem 0.5rem;
    font-size: 95%;
}
#fSettings #bsToggleRegister {
    width: 2rem;
    padding: 0.1rem;
    margin: 0;
}
#bSave.changed::after {
    content: ' * ';
}
#bSave.changed {
    font-weight: bold;
}

#setup ul 
{
    margin-left: 1em;
    padding-left: 0;
}

#einkauf ul {
    list-style: none;
    margin: 0.5rem 0;
    padding: 1rem 1rem;
    border: 1px solid blue;
}
.hidden {
    display: none;
}
.greyed {
    opacity: 0.2;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

:checked  + span{ /*first span after checked input */
    color: grey;
 }
:checked {
    accent-color: gainsboro;
}
/*folgendes wahrscheinlich füür die Einkaufsliste*/
 li > div {
    display: flex;
    justify-content: space-between;  
}


#fsButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: .5rem;
    gap: 0.5rem 0rem;
}
#fsInputs  {
    width: 100%;
    padding: 0.5rem 0.5rem;
    display: grid;
    grid-template-columns: 2.9em 1fr 5.5em 3em;
    grid-template-rows: auto auto; 
    gap: 5px 5px;
    align-items: center;
}
#fsInputs >*{
    min-width: 0pt;
}
#fsInputs input {
    /*width: 8rem;*/
}
#sZeile {
    width:fit-content;
}

input[type="checkbox"]
{
    transform: scale(1.5); /*scale ist guenstiger, da die Beschriftung besser aussieht */
    margin-right: 1rem;
    -webkit-transform: scale(1.5); /*die hat vs code hinzugefügt */
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
label {
    margin-top: 0.3rem; /*verstehe ich nicht, der label mit der inputbox klebt oben an der umgebenden Box, dass ist ein div */
}
